{% load static %}
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "dist/css/materialize.min.css"%}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <h1>Your Grocery List:</h1>
            <!-- {% for recipe in recipes %}
                <li>
                    {{ recipe.recipe_name }}
                    <br>
                    {% for ingredient in recipe.ingredients.all %}
                        {{ingredient.ingredient_id}} - {{ ingredient.name }} - {{ingredient.amount|floatformat:1}} {{ingredient.unit}}
                        <br>
                    {% endfor %}
                    <br>
                </li>
            {% endfor %} -->
            <div>
                <h2>List Total:</h2>
                {% for total in total_ingredients %}
                <form type="post" action="/recipefinder/remove_from_list">    
                    <li>
                        {{ total.name }} - {{total.amount|floatformat:1}} {{total.unit}}
                        <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
                        <input type="hidden" name="ingredientid" value='{{total.pk}}' placeholder="{{ingredientid}}"/>
                        <button id="remove_ingredient_submit" type="submit">Remove</button>
                        <br>
                    </li>
                </form>
                {% endfor %}
            </div>
            <form type="post" action="/recipefinder/view_cart">    
                    <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
                    <button id="list_to_cart_submit" type="submit">Back to Cart</button>
            </form>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
    </html>
