{% load static %}
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "dist/css/materialize.min.css"%}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static "dist/css/test.css"%}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper green">
                <a href="/recipefinder/" class="brand-logo center"><i class="material-icons">local_grocery_store</i>Grocery Planner</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="/recipefinder/search_recipes?cartid={{cartid}}">Search Recipes</a></li>
                    <li><a href="/recipefinder/view_cart?cartid={{cartid}}">Your Cart</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Search Recipes</h1>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <form type="get" action="" style="margin: 0">
                            <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
                            <div class="input-field col s6">
                                <input  id="search_box" type="text" name="query"  placeholder="Search..." >
                            </div>
                            <div class="input-field col s3">
                                <select class="input-field" id="{{ form.search.selectcuisine }}" name="cuisineselected" class="form-control">
                                    <option value="None" selected="selected"></option>
                                    {% for cuisine in cuisines %}
                                        <option value="{{ cuisine }}" >{{ cuisine }}</option>
                                    {% endfor %}
                                </select>
                                <label>Cuisine</label>
                            </div>
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light green" id="search_submit" type="submit" >Search
                                    <i class="material-icons left">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {% for result in response %}
                            <div class="card-panel light-green lighten-5 smaller">
                                <form type="post" action="/recipefinder/update_cart">
                                    <div class="row">
                                        <div class="col s8 valign-wrapper">
                                            <div>
                                                <h5>{{ result.title }}</h5>
                                                <blockquote>
                                                    {{result.servings}} Serving(s) - {{result.readyInMinutes}} minutes
                                                </blockquote>
                                                <input type="hidden" name="title" value='{{result.title}}' placeholder="{{result.title}}"/>
                                                <input type="hidden" name="id" value='{{result.id}}' placeholder="{{result.id}}"/>
                                                <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
                                            </div>
                                        </div>
                                            <div class="col s4 align-button">
                                                <button class="btn waves-effect waves-light green top-button" id="add_cart_submit" type="submit">Add to Cart
                                                    <i class="material-icons left">add_shopping_cart</i>
                                                </button>
                                            </div>
                                    </div>
                                </form>                                
                            </div>
                            <div class="divider"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <footer class="page-footer green">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><i class="material-icons">local_grocery_store</i>Grocery Planner</h5>
                    <p class="grey-text text-lighten-4">This app was made using the Django framework, the Materialize styling format, and the Spoonacular API.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="/recipefinder/search_recipes?cartid={{cartid}}">Search Recipes</a></li>
                    <li><a class="grey-text text-lighten-3" href="/recipefinder/view_cart?cartid={{cartid}}">Your Cart</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://spoonacular.com/food-api">Spoonacular API</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                Made By Kyle Howard
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static "dist/js/materialize.min.js"%}"></script>
      <script type="text/javascript" >
       document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });    
      </script>
    </body>
  </html>
