<div>
    <h1>Your Cart:</h1> 
    {% for recipe in recipes %}
        <form type="post" action="/recipefinder/remove_from_cart">    
            <li>
                {{recipe}}
                <br>
                <input type="hidden" name="title" value='{{result.title}}' placeholder="{{result.title}}"/>
                <input type="hidden" name="id" value='{{result.id}}' placeholder="{{result.id}}"/>
                <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
                <input type="hidden" name="recipeid" value='{{recipe.pk}}' placeholder="{{recipeid}}"/>
                <button id="remove_cart_submit" type="submit">Remove Recipe</button>
            </li>
        </form>
    {% endfor %}

    <form type="get" action="/recipefinder/create_list" style="margin: 0">
        <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
        <input type="hidden" name="recipeid" value='{{recipe.pk}}' placeholder="{{recipeid}}"/>
        <button id="get_list_submit" type="submit" >Create Your Grocery List</button>
    </form>
    <br>
    <form type="get" action="/recipefinder/search_recipes" style="margin: 0">
        <input type="hidden" name="cartid" value='{{cartid}}' placeholder="{{cartid}}"/>
        <input type="hidden" name="recipeid" value='{{recipe.pk}}' placeholder="{{recipeid}}"/>
        <button id="search_again_submit" type="submit" >Keep Searching</button>
    </form>
</div>